.example
  width: 100%
  padding: 20px

  &__wrapper
    display: flex
    flex-direction: row
    align-items: center
    width: 100%
    padding: 20px
    border: 1px solid black
    border-radius: 5px

  &__image
    width: 40px
    height: 40px

    img
      max-width: 100%
      max-height: 100%

  &__text
    font-size: 18px
    font-weight: 200
    margin-left: 20px
